/* Full Section Styling */
.full-container {
    width: 100%;
    // min-height: 100vh; /* Ensure it covers the full viewport */
    background: transparent; /* Transparent background */
    position: relative; /* Keep relative positioning */
    z-index: 2; /* Make sure it stays on top of background */
    color: black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.full-text {
    font-family: 'Merriweather', serif;
    text-align: center;
    opacity: 0;
    transform: scale(0.7);
    animation: fadeInUp 1s forwards;
}
  
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem; /* Smaller font size for tablets */
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.2rem; /* Even smaller font size for mobile phones */
  }
}
  
p {
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
}
  
.countdown {
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .countdown {
      font-size: 1.5rem; /* Smaller font size for tablets */
  }
}
@media screen and (max-width: 480px) {
  .countdown {
      font-size: 1.2rem; /* Even smaller font size for mobile phones */
  }
}


/* Styling for the schedule */
.schedule {
  font-family: 'Merriweather', serif;
  margin-top: 30px;
  color: #000000;
  text-align: left;
  font-size: 20px;
}

.schedule h3 {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  margin-bottom: 20px;
  text-decoration: underline; /* Underlines the heading */
}
@media screen and (max-width: 768px) {
  .schedule h3 {
      font-size: 20px; /* Smaller font size for tablets */
  }
}
@media screen and (max-width: 480px) {
  .schedule h3 {
      font-size: 17px; /* Even smaller font size for mobile phones */
  }
}

.schedule ul {
  font-family: 'Merriweather', serif;
  list-style-type: none;
  padding: 0;
}

.schedule li {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .schedule li {
      font-size: 15px; /* Smaller font size for tablets */
  }
}
@media screen and (max-width: 480px) {
  .schedule li {
      font-size: 12px; /* Even smaller font size for mobile phones */
  }
}

.schedule li strong {
  font-family: 'Merriweather', serif;
  color: #000000;
}