* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif; /* 'Roboto', sans-serif; */
  height: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

html {
  scroll-behavior: smooth; /* Smooth scrolling on page */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
