body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/flowers.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: #fff;
  }
  
  h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  